* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* ------------ Header------------------ */

.firstHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  color: azure;
  background: #000;
  position: relative;
}

/* ------------Aside------------------ */

aside {
  display: none;
  position: absolute;
  width: 200px;
  height: 250px;
  top: 0;
  right: 0;
  margin: 3px;
  border-radius: 10px;
  background: #0a0a0ae7;
}

aside span {
  margin: 10px 10px 10px 170px;
}

aside ul li {
  text-align: center;
  line-height: 40px;
}

aside ul > a {
  display: block;
  padding: 6px;
  width: 150px;
  margin-left: 30px;
  color: white;
  background-color: rgba(0, 255, 255, 0.719);
  border-radius: 10px;
}

aside ul li a {
  color: white;
}

/* ------------ nav ------------------ */

nav ul {
  display: flex;
  gap: 24px;
  margin-right: 300px;
}

#menu {
  display: none;
}

ul li {
  padding: 0 10px 0 10px;
}

/* ------------Main Header------------------ */

.Headertwo {
  background: #000;
  color: white;
  height: 700px;
  padding: 10px;
}

.Headertwo img {
  display: none;
}

.Hdiv1 {
  margin-top: 230px;
  margin-left: 130px;
}

.Hdiv1 h2 {
  font-size: 56px;
  padding: 10px 0 10px 0;
}

.Hdiv1 span {
  font-family: sans-serif;
  padding: 0 10px;
  color: #c72e4a;
}

.Hdiv1 h1 {
  padding: 5px 0 15px 0;
}

/* ------------ about ------------------ */

#about {
  padding: 10px;
}

.abdiv1 img {
  width: 400px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}

.abdiv1 div {
  margin: 60px;
}

.abdiv1 div h2 {
  margin-top: 200px;
}

.abdiv1 div p {
  margin-top: 50px;
  width: 500px;
}

.abdiv1 {
  display: flex;
}

/* ------------ Services ------------------ */

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  padding: 60px 10px 100px 10px;
}

#service h2 {
  text-align: center;
}

#service h2 {
}

#ser1 {
  width: 250px;
  padding: 10px;
  margin: 2px;
}

#ser1 img {
  width: 200px;
  height: 200px;
  margin: 2px;
  margin-left: 15px;
  border-radius: 10px;
}

#ser1 h4 {
  text-align: center;
  margin: 5px 2px 5px 2px;
}

#ser1 p {
  margin: 5px 2px 5px 2px;
}

#ser2 {
  width: 250px;
  padding: 10px;
  margin: 2px;
}

#ser2 img {
  width: 200px;
  height: 200px;
  margin: 2px;
  margin-left: 15px;
  border-radius: 10px;
}

#ser2 h4 {
  text-align: center;
  margin: 5px 2px 5px 2px;
}

#ser2 p {
  margin: 5px 2px 5px 2px;
}

#ser3 {
  width: 300px;
  padding: 10px;
  margin: 2px;
}

#ser3 img {
  width: 250px;
  height: 200px;
  margin: 2px;
  margin-left: 15px;
  border-radius: 10px;
}

#ser3 h4 {
  text-align: center;
  margin: 5px 2px 5px 2px;
}

#ser3 p {
  margin: 5px 2px 5px 2px;
}

/* ------------ Contact ------------------ */

.contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
}

#contact h2 {
  text-align: center;
}

.contact a {
  background-color: #546f99;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.contact > a {
  color: white;
}

.contact > a > a {
  color: white;
}

svg {
  height: 20px;
  width: 20px;
  color: black;
}

/* ------------ Footer ------------------ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: rgb(8, 5, 28);
  height: 80px;
}

footer #footerspan {
  color: aqua;
}

footer svg {
  max-height: 13px;
  color: white;
}

footer p {
  padding: 5px 0 5px 0;
}

/* ------------Media query 650px------------------ */

@media (max-width: 650px) {
  /* ------------Media Header------------------ */

  .Headertwo {
    height: 450px;
  }

  .firstHeader h1 a {
    margin-left: 10px;
    color: white;
  }

  .firstHeader h1 a:hover {
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.719);
  }

  /* ------------Media body header------------------ */

  .Headertwo img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px 0 20px 10px;
  }

  .Hdiv1 {
    margin-left: 10px;
    margin-top: 20px;
  }

  .Hdiv1 h2 {
    text-align: left;
    font-size: 40px;
  }

  #menu {
    display: block;
  }

  /* ------------Media nav------------------ */

  nav {
    display: none;
  }

  /*------------Media about -------------------*/
  .abdiv1 {
    flex-direction: column;
    padding: 3px;
  }

  .abdiv1 div {
    margin: 10px;
  }

  .abdiv1 div h2 {
    font-size: 20px;
    margin: 5px;
  }

  .abdiv1 div p {
    margin: 5px;
    width: 100%;
  }

  .abdiv1 img {
    width: 250px;
    height: 330px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 8px;
  }

  .abdiv1 div h2 {
    padding-top: 0px;
  }

  /* ------------Media Services------------------ */

  .services {
    padding: 20px 5px 20px 5px;
    flex-direction: column;
  }

  #service h2 {
    text-align: left;
    margin-left: 30px;
    font-size: 25px;
  }

  #ser1 {
    width: 90%;
    padding: 5px;
    margin: 2px;
  }

  #ser1 img {
    width: 100%;
    height: 200px;
    margin: 2px;
    border-radius: 10px;
  }

  #ser1 h4 {
    text-align: center;
    margin: 5px 2px 5px 2px;
  }

  #ser1 p {
    margin: 5px 2px 5px 2px;
  }

  #ser2 {
    width: 90%;
    padding: 5px;
    margin: 2px;
  }

  #ser2 img {
    width: 100%;
    height: 200px;
    margin: 2px;
    border-radius: 10px;
  }

  #ser2 h4 {
    text-align: center;
    margin: 5px 2px 5px 2px;
  }

  #ser2 p {
    margin: 5px 2px 5px 2px;
  }

  #ser3 {
    width: 90%;
    padding: 5px;
    margin: 2px;
  }

  #ser3 img {
    width: 100%;
    height: 200px;
    margin: 2px;
    border-radius: 10px;
  }

  #ser3 h4 {
    text-align: center;
    margin: 5px 2px 5px 2px;
  }

  #ser3 p {
    margin: 5px 2px 5px 2px;
  }

  /* ------------Media Contact------------------ */

  .contact {
    height: 200px;
    padding: 20px;
  }

  .contact a {
    padding: 15px;
    margin: 6px;
  }

  #contact h2 {
    text-align: left;
    margin-left: 30px;
  }

  /* ------------Media footer------------------ */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: rgb(8, 5, 28);
    height: 80px;
  }

  footer #footerspan {
    color: aqua;
  }

  footer p {
    padding: 5px 0 5px 0;
  }
}
