@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

/* ------------ Header------------------ */

.firstHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: white;
  background: #000;
  position: relative;
}

.firstHeader img {
  width: 30px;
  height: 30px;
}

.menu-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.firstHeader h1 {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
}

.firstHeader h1 a {
  color: white;
}

.firstHeader h1 a:hover {
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  background-color: rgba(0, 255, 255, 0.719);
}

.favorite-share {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.platforms_div {
  display: none;
  position: absolute;
  right: 0;
}

.favorite-share select {
  width: 200px;
  padding: 5px;
  border-radius: 8px;
}

.favorite-share > img {
  border-radius: 8px;
}

.favorite-share img {
  margin: 0 8px 0 8px;
}

/* ------------Aside------------------ */

aside {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  top: 17px;
  left: 5px;
  margin: 3px;
  border-radius: 10px;
  background: #0a0a0afa;
}

aside span {
  margin: 10px 10px 10px 170px;
}

aside ul li {
  text-align: center;
  line-height: 40px;
}

aside ul > a {
  display: block;
  padding: 6px;
  width: 150px;
  margin-left: 30px;
  color: white;
  background-color: rgba(0, 255, 255, 0.719);
  border-radius: 10px;
}

aside ul li a {
  color: white;
}

/* ------------ body header------------------ */

.Headertwo {
  background-image: linear-gradient(black, rgb(75, 73, 73));
  color: white;
  padding: 20px;
  overflow: hidden;
}

.hero-div {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

#prof {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.Headertwo img {
  max-width: 100%;
  aspect-ratio: square;
}

.Hdiv1 {
  margin-left: 30px;
}

.Hdiv1 h5 {
  padding: 5px 0 5px 0;
  opacity: 80%;
}

.Hdiv1 h3 {
  padding: 5px 0 5px 0;
}

.text p {
  text-align: center;
  margin-bottom: 10px;
  opacity: 80%;
}

.text h1 {
  text-align: center;
  margin: 20px;
}

.text span {
  font-family: sans-serif;
  padding: 0 10px;
  color: rgba(0, 255, 255, 0.719);
}

.hero-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.hero-social-media .button1 {
  padding: 8px;
  margin: 0 10px 0 10px;
  border: solid 2px rgba(0, 255, 255, 0.719);
  border-radius: 25px;
  background-color: #ffffff00;
}

.hero-social-media svg {
  color: rgba(0, 255, 255, 0.719);
}

.hero-social-media button {
  padding: 10px;
  border: solid 1px grey;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  color: white;
  background-color: rgba(0, 255, 255, 0.719);
}

/* ------------Media nav------------------ */

nav {
  display: none;
  position: absolute;
}

/*------------ about -------------------*/

#about {
  padding: 10px;
  background-color: #ddd;
}

.about {
  padding: 3px;
}

.abdiv1 {
  display: flex;
  /* flex-direction: column; */
  /* height: 600px; */
  background-color: #fff;
  border-radius: 10px;
}

.aboutimage {
  overflow: hidden;
  background-color: #eee;
  border-radius: 8px 0 0 8px;
}

.abdiv1 img {
  width: 100%;
  background: #020215;
}

.abdiv1 div h2 {
  margin: 15px 0 5px 15px;
  font-size: 25px;
}

.abdiv1 div h2 span {
  /* color: rgba(0, 255, 255); */
}

.abdiv1 div div {
  margin: 0px 0px 10px 15px;
  opacity: 80%;
}

.abdiv1 div div p {
  margin-top: 5px;
  color: #000;
}

/* ------------ Services------------------ */

#service h2 {
  font-size: 25px;
  padding: 20px 0 0 15px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 20px 15px;
}

#ser1 {
  padding-bottom: 10px;
}

.serviceImage1 {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

#ser1 img {
  max-width: 100%;
  height: 100%;
}

#ser1 h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
}

#ser1 p {
  margin: 10px 0px 10px 0px;
}

#ser2 {
  padding: 10px 0 10px 0;
}

.serviceimage2 {
  height: 250px;
  overflow: hidden;
}

#ser2 img {
  max-width: 100%;
}

#ser2 h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
}

#ser2 p {
  margin: 5px 2px 5px 2px;
}

#ser3 {
  padding: 10px 0 10px 0;
}

.serviceimage3 {
  height: 250px;
  overflow: hidden;
}

#ser3 img {
  max-width: 100%;
  height: 100%;
}

#ser3 h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
}

#ser3 p {
  margin: 5px 2px 5px 2px;
}

#why-choose-us {
  padding: 20px 15px 20px 15px;
  background-color: #3a3a3a;
  color: #fff;
}

.why-choose-us {
}

.why-choose-us h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.why-choose-us ul li {
  margin: 10px 0 10px 15px;
  list-style-type: disc;
}

.why-choose-us ul li span {
  font-weight: 600;
}

.get-in-touch div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem /* 12px */;
  margin: 15px 0 15px 0;
}

.get-in-touch input {
  padding: 10px;
  border: solid 1px white;
  background: none;
}

.get-in-touch textArea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border: solid 1px white;
  background: none;
}

.get-in-touch button {
  display: block;
  font-size: 20px;
  width: 100%;
  height: 30px;
  margin-top: 12px;
  border: rgba(0, 255, 255);
  border-radius: 8px;
  background-color: rgba(0, 255, 255);
}

/* ------------Media Projects------------------ */

#projects {
  padding: 10px;
}

#projects p {
  
}
/* ------------Media Contact------------------ */

.contact {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.contact a {
  padding: 15px;
  margin: 6px;
  background-color: rgba(0, 255, 255);
  border-radius: 10px;
}

.contact > a {
  color: black;
}

#contact h2 {
  margin: 10px 0 0 10px;
}

svg {
  height: 20px;
  width: 20px;
  color: black;
}

/* ------------Media footer------------------ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  background-color: rgb(8, 5, 28);
  height: 80px;
}

footer #footerspan {
  color: aqua;
}

footer p {
  padding: 5px 0 5px 0;
}

@media screen (min-width: 1224px) {
  .firstHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    color: azure;
    background: #000;
    position: relative;
  }

  .firstHeader h1 {
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
  }

  .firstHeader a:hover {
    background-color: #546f99;
  }

  .firstHeader a {
    color: white;
  }

  /* ------------Aside------------------ */

  aside {
    display: none;
    position: absolute;
    width: 200px;
    height: 250px;
    top: 0;
    right: 0;
    margin: 3px;
    border-radius: 10px;
    background: #0a0a0af7;
  }

  aside span {
    margin: 10px 10px 10px 170px;
  }

  aside ul li {
    text-align: center;
    line-height: 40px;
  }

  aside ul > a {
    display: block;
    padding: 6px;
    width: 150px;
    margin-left: 30px;
    color: white;
    background-color: rgba(0, 255, 255, 0.719);
    border-radius: 10px;
  }

  aside ul li a {
    color: white;
  }

  /* ------------ nav ------------------ */

  nav ul {
    display: flex;
    gap: 24px;
    margin-right: 300px;
  }

  nav a {
    color: white;
  }

  #menu {
    display: none;
  }

  ul li {
    padding: 0 10px 0 10px;
  }

  /* ------------Main Header------------------ */

  .Headertwo {
    background-image: linear-gradient(black, rgb(75, 73, 73));
    color: white;
    height: 700px;
    padding: 10px;
  }

  #prof {
    display: none;
  }

  .Hdiv1 {
    margin-top: 230px;
    margin-left: 130px;
  }

  .Hdiv1 h2 {
    font-size: 56px;
    padding: 10px 0 10px 0;
  }

  .Hdiv1 span {
    font-family: sans-serif;
    padding: 0 10px;
    color: #c72e4a;
  }

  .Hdiv1 h1 {
    padding: 5px 0 15px 0;
  }

  /* ------------ about ------------------ */

  #about {
    padding: 10px;
    background-color: #ddd;
  }

  .abdiv1 {
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .aboutimage {
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: #efefef;
  }

  .abdiv1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
  }

  .abdiv1 div {
  }

  .abdiv1 div h2 {
    margin: 50px;
  }

  .abdiv1 div p {
    margin: 50px;
    width: 500px;
  }

  /* ------------ Services ------------------ */

  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    padding: 35px 10px 100px 10px;
  }

  #service h2 {
    text-align: center;
    margin-top: 40px;
  }

  #service h2 {
  }

  #ser1 {
    width: 250px;
    padding: 10px;
    margin: 2px;
    overflow: hidden;
  }

  .serviceimage1 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 10px;
  }

  #ser1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #ser1 h4 {
    text-align: center;
    margin: 5px 2px 5px 2px;
  }

  #ser1 p {
    margin: 5px 2px 5px 2px;
  }

  #ser2 {
    width: 250px;
    padding: 10px;
    margin: 2px;
    overflow: hidden;
  }

  .serviceimage2 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 10px;
  }

  #ser2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #ser2 h4 {
    text-align: center;
    margin: 5px 2px 5px 2px;
  }

  #ser2 p {
    margin: 5px 2px 5px 2px;
  }

  #ser3 {
    width: 300px;
    padding: 10px;
    margin: 2px;
    overflow: hidden;
  }

  .serviceimage3 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 10px;
  }

  #ser3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #ser3 h4 {
    text-align: center;
    margin: 5px 2px 5px 2px;
  }

  #ser3 p {
    margin: 5px 2px 5px 2px;
  }

  /* ------------ Contact ------------------ */

  .contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    padding: 30px;
  }

  #contact h2 {
    text-align: center;
  }

  .contact a {
    background-color: rgba(0, 255, 255);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
  }

  .contact > a {
    color: white;
  }

  .contact > a > a {
    color: white;
  }

  svg {
    height: 20px;
    width: 20px;
    color: black;
  }

  /* ------------ Footer ------------------ */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: rgb(8, 5, 28);
    height: 80px;
  }

  footer #footerspan {
    color: aqua;
  }

  footer svg {
    max-height: 13px;
    color: white;
  }

  footer p {
    padding: 5px 0 5px 0;
  }
}
